* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

html {
	background-color: $white;
	color: $black;
}

body {
	&.scrolled {
		header {
			background-color: rgba($black, .4);

			#m-l {
				color: $white;
			}

			#toggle-menu {
				span {
					background-color: $white;
				}
			}
		}
	}

	&.landing-page {
		header {
			#m-l {
				color: $white;
			}
			
			#toggle-menu {
				span {
					background-color: $white;
				}
			}
		}
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	padding: $spacer;
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: 10;
	transition: background-color .4s;

	#m-l {
		text-decoration: none;
		color: $black;
		transition: color .4s;
		text-transform: uppercase;

		img {
			width: $spacer * 2;
			height: $spacer * 2;
		}
	}

	#toggle-menu {
		&:hover {
			cursor: pointer;
		}

		span {
			width: $spacer * 1.5;
			height: 2px;
			background-color: $black;
			display: block;
			transition: background-color .4s;
			
			&:not(:last-of-type) {
				margin-bottom: $spacer * .25;
			}
		}
	}

	nav {
		display: none;
		position: fixed;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		z-index: 10;
		text-align: right;

		ul {
			list-style: none;
			
			li {
				position: relative;
				right: -100%;
				transition: right .4s cubic-bezier(.17, .67, .73, 1.44);
				margin-bottom: $spacer;
				text-transform: uppercase;

				&:last-of-type {
					margin-bottom: 0;
				}

				&.showing {
					right: $spacer;
				}
				
				a {
					text-decoration: none;
					font-weight: 700;
					color: $white;
				}
			}
		}
	}
}

footer {
	background-color: rgba($black, .8);
	text-align: center;
	color: $white;
	padding: $spacer;

	a {
		color: $white;
	}

	h3 {
		margin-bottom: $spacer * .5;
	}
}

#some {
	a {
		font-size: 40px;

		&:not(:last-of-type) {
			margin-right: $spacer;
		}
	}
}

#f-l,
#f-c {
	margin-bottom: $spacer;
}

#f-l {
	display: block;

	img {
		width: $spacer * 3;
		height: $spacer * 3;
	}
}

#vendor {
	a {
		text-decoration: none;
		font-size: 12px;
		color: lighten($black, 40);
	}
}

// Styling of global overlay
#overlay {
	display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba($black, .4);
}

// Generate image height classes
@for $i from 1 through 5 {
	.ih-#{$i} {
		height: $imageHeight * $i;
	}
}

.center {
	margin: 0 auto;
}