* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

// Header styling
header {
	#toggle-menu {
		top: $spacer;
		right: $spacer;
		position: fixed;
		z-index: 10;
		
		&:hover {
			cursor: pointer;
		}

		span {
			width: $spacer * 1.5;
			height: 2px;
			background-color: $black;
			display: block;
			margin-bottom: $spacer * .25;
			transition: background-color .4s;
		}
	}

	nav {
		display: none;
		position: fixed;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		z-index: 10;
		text-align: right;

		ul {
			list-style: none;
			
			li {
				position: relative;
				right: -100%;
				transition: right .4s cubic-bezier(.17, .67, .73, 1.44);
				margin-bottom: $spacer;
				text-transform: uppercase;

				&:last-of-type {
					margin-bottom: 0;
				}

				&.showing {
					right: $spacer;
				}
				
				a {
					text-decoration: none;
					color: $white;
				}
			}
		}
	}

	&.toggled {
		#toggle-menu {
			span {
				background-color: $white;
			}
		}
	}
}

.if {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $grey;
}

.cta {
	display: block;
	padding: $spacer * .5 $spacer;
	border: none;
	font-size: 14px;
	color: $white;
	background-color: $orange;
	transition: background-color .4s;
	box-shadow: $shadow1;
	text-transform: uppercase;

	&:hover {
		cursor: pointer;
		background-color: darken($orange, 10);
	}
}

#h {
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;

	.c {
		position: absolute;
		bottom: $spacer;
		left: $spacer;

		h1 {
			text-transform: uppercase;
			font-size: 26px;
			font-weight: 700;
			color: $white;
			width: 75%;
		}
	}
}

.t {
	text-align: center;
	font-size: 16px;
	padding: $spacer;

	h2,
	h3 {
		font-weight: 700;
		text-transform: uppercase;
	}

	h2 {
		font-size: 30px;
		margin-bottom: $spacer;
	}

	h3 {
		font-size: 20px;
	}

	&.bg-d {
		background-color: $white;
		color: $black;
	}

	&.bg-g {
		background-color: $green1;
		color: $white;
		padding: $spacer * 3 $spacer;
	}
}

.twi {
	position: relative;

	.i {
		position: relative;
		z-index: 2;
		top: $spacer;
		width: 100%;
		height: $imageHeight;
		padding: $spacer;
		background-size: cover;
		background-position: center;

		h3 {
			position: relative;
			z-index: 2;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 700;
			color: white;
			width: 50%;
		}
	}

	.c {
		background-color: $green2;
		position: absolute;
		width: calc(100% - $spacer * 2);
		color: $white;
		margin: 0 $spacer;
		padding: $imageHeight + $spacer * 2 $spacer $spacer;
		top: 0;
		left: 0;

		h2 {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: $spacer * 2;
		}

		.b {
			font-size: 22px;
			margin-bottom: $spacer * 3;
		}
	}
}

.iwt {
	padding: $spacer;
	background-size: cover;
	background-position: center;
	position: relative;

	.c {
		position: relative;
		width: calc(100% / 3);
		color: $white;

		h2 {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: $spacer * 2;
		}

		.b {
			font-size: 22px;
			margin-bottom: $spacer * 3;
		}
	}
}

// Styling of global overlay
#overlay {
	display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba($black, .4);
}