.c {
	margin: 0 auto;
}

.ta-l {
	text-align: left;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
	margin-left: 25%;
}

// Generate image height utility classes
@for $i from 1 through 5 {
	.ih-#{$i} {
		height: $imageHeight * $i;
	}
}

// Generate margin utility classes
@for $i from 1 through 5 {
	.m-#{$i} {
		margin: $spacer * $i;
	}

	.mt-#{$i} {
		margin-top: $spacer * $i;
	}

	.mr-#{$i} {
		margin-right: $spacer * $i;
	}

	.mb-#{$i} {
		margin-bottom: $spacer * $i;
	}

	.ml-#{$i} {
		margin-left: $spacer * $i;
	}
}

// Generate padding utility classes
@for $i from 1 through 5 {
	.p-#{$i} {
		padding: $spacer * $i;
	}

	.pt-#{$i} {
		padding-top: $spacer * $i;
	}

	.pr-#{$i} {
		padding-right: $spacer * $i;
	}

	.pb-#{$i} {
		padding-bottom: $spacer * $i;
	}

	.pl-#{$i} {
		padding-left: $spacer * $i;
	}
}