// Colors
$white: #fafafa;
$black: #080808;
$grey: rgba(#B1AAAA, .55);
$green1: #81995C;
$green2: rgba($green1, .55);
$orange: #FAAE58;
$red: #e74c3c;

// Spacing
$spacer: 20px;

// Shadows
$shadow1: 1px 1px 6px rgba($black, .3);

// Images
$imageHeight: 200px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;